.MainProfileDiv {
    height: 100vh;
    width: 100ww;
    background: #0f1c2c;
    overflow-x: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    font-style: comic sans ms;
}
.profileContainer {
    width: 90%;
    height: 100%;
    background: rgb(255, 255, 255);
    margin:auto;
}
.topPortion {
    height: 45%;
    width: 100%;
}
.userProfileBgImage{
    height: 80%;
    width: 100%;
    background: #1ab5fc;
    overflow: hidden;
}
.userProfileImg {
    position: relative;
    height: 60%;
    width: 15%;
    border-radius: 50%;
    margin: auto;
    margin-top: -90px;
    background-color: blueviolet;
}
#prfBgImg{
    height:200%;
    width: 100%;
    margin-top: -8rem;
} 
#prfImg {
    display: flex;  
    justify-content: center;  
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.userName {  
    display: flex;  
    justify-content: center;  
    align-items: center; width:300px;
    width: 100%;
}
#name {
    text-align: center;
}
 
.middlePortionUp{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70p;
    width: 100%;
    margin-top: 130px;   
}
.middlePortionUpBtn {
    cursor: pointer;
}
 
 
.middlePortion{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:1px;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    font-style: comic sans ms;
}
.reviews{
    margin-left: 10px;
}
 
.bottomPortion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 290px;
    border-top: 1rem solid;
}

.leftSide {
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
.postDiv{
    display:flex;
    margin-top: 20px;
    gap:40px;
    font-size:23px;
    border-bottom: 1rem solid #0f1c2c;
    border-radius: 20px;

}
.postImage {
    margin-left: 10px;
    height: 200px;
    width: 200px;
    margin-bottom:20px;
    border-radius: 7px;
}
 
 
.modalF {
    position: absolute;
    top: 100px;
    left: 350px;
    bottom: 50px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-color:  #0f1c2c;
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    font-style: comic sans ms;
    overflow-y: auto;
}
 
.modalFriends {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.closeModalFriendsBtn{
    cursor: pointer;
    position:relative; 
    text-align: center;
    left:280px;
}
.friendslist {
    margin-left: 50px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 40px;
}

.comment {
    font-size: 15px;
    line-height: 20px;
}